.layered-layer {
  position: relative;
}
.layered-foreground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
/* Make the background image span all available space. */
.layered-background img {
  width: 100% !important;
  height: auto !important;
}
