// Common abstract classes to extend or parametrics are stored here.

$ff-serif: Georgia, Serif !default;
$ff-sans-serif: Helvetica, Arial, Sans-serif !default;
$default-margin: $column-gutter !default;

// Font styles
// ------------------------------------------------------
.font-sans-serif { font-family: $ff-sans-serif; -webkit-font-smoothing: antialiased; }
.font-serif      { font-family: $ff-serif; }
.font-tiny       { font-size: 0.5rem; }
.font-small      { font-size: 0.75rem; }
.font-normal     { font-size: 1rem; }
.font-big        { font-size: 1.5rem; }

// Styling
// ------------------------------------------------------
// @see http://goo.gl/LkDx5v
// @see http://goo.gl/SKqoZK
// .left {}
// .right {}
// .text-left {}
// .text-center {}
// .text-right {}
// .text-justify {}
// .hide {}
.text-uppercase  { text-transform: uppercase; }
.text-underline  { text-decoration: underline; }
.pre             { white-space: pre; }
.bg-primary      { background-color: $primary-color; }
.bg-secondary    { background-color: $secondary-color; }
.color-primary   { color: $primary-color !important; }
.color-secondary { color: $secondary-color !important; }
.hide, .hidden   { display: none !important; }
// Provide foundations button radius styles to all elements.
// These dont display overflow, so that child elements such as images dont
// overflow, therefore this is not safe for eg teasers which could contain fb
// like boxes.
.radius          { @include radius($button-radius); overflow: hidden; }
.round           { @include radius($button-round); overflow: hidden; }
// Provide generic disabled state just like foundation buttons.
.disabled        { opacity: $button-disabled-opacity;  }
.block           { display: block; }
.inline-block    { display: inline-block; vertical-align: top; max-width: 100%;}
.clear           { clear: both; }
// Stop images from spanning all available space.
.image-no-span img { width: auto !important; }

// Icons
// --------------------------------------------------------
// Only display the icon, not any other text within the element.
// @code
// <span class="fa fa-clock-o icon-only">Label</span>
.icon-only       {
  width: 1rem; height: 1rem; overflow: hidden;
  &:before { margin-right: 1rem; margin-bottom: 1rem; display: block; }
  .edit & { height: auto; width: auto; }
}

// Spacing / positioning / separators
// ------------------------------------------------------
@each $position in left, right, top, bottom {
  .border-#{$position} { border-#{$position}: solid 1px;  }
  .absolute-#{$position} { position: absolute; #{$position}: 0;  }
  .margin-#{$position} { margin-#{$position}: $default-margin;  }
  .padding-#{$position} { padding-#{$position}: $default-margin;  }
  .gutter-#{$position} { margin-#{$position}: $column-gutter; }
  .no-margin-#{$position} { margin-#{$position}: 0 !important;  }
  .no-padding-#{$position} { padding-#{$position}: 0 !important;  }
}
.margin { margin: $default-margin; }
.padding { padding: $default-margin; }
.gutter { margin: $column-gutter; }
.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }

// Remove the grid values from an element, this should be applied on a .row
// ------------------------------------------------------
// @code
// <div class="row something-reset">
//   <div class="columns">
//   </div>
// </div>
%reset-grid-row {
  margin-left: auto;
  margin-right: auto;
  .columns {
    padding-left: 0;
    padding-right: 0;
    float: none;
  }
}

// Remove box decorations from an element, eg. form items.
%clean-decorations {
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
